@font-face {
    font-family: Open-Sans-Bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: Open-Sans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Open-Sans-SemiBold;
    src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: Lobster-Regular;
    src: url(../fonts/Lobster-Regular.ttf);
}

#landing {
    background-color: #fafafa
}

#landing .navbar{
    justify-content: space-around;
}

.headerPage {
    border-bottom: 5px solid #EC1A23;
}

.headerContainer {
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.headerContainer .navbar-brand {
    padding: 0;
    margin-right: 0;
}

.itemHeader {
    font-family: "Open-Sans-SemiBold";
    font-size: 1.4em;
    color: #EC1A23;
    text-transform: uppercase;
}

.slide{
    max-width: 100vw;
}

.imageSlide {
    width: 100%;
    height: 650px;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.7)
}

#carouselControls .carousel-indicators li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px
}

#landing .about .col-md-5 {
    padding: 0;
    margin: 0;
}

.about  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
}

.alignItemsAbout  {
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.titleAbout {
    text-transform: uppercase;
    color: #EC1A23;
    font-family: "Open-Sans-Bold";
    font-size: 4em;
}

.alignItemsAbout h2:nth-child(2) {
    margin-left: 100px;
    margin-top: -20px;
}

.alignItemsAbout p {
    font-family: "Open-Sans-Regular";
    font-size: 1em;
    text-indent: 40px;
}

.aboutImage {
    padding-top: 20px;
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#landing .menu .col-md-4 {
    margin: 0;
    padding: 0;
}

.menu {
    margin: 0
}

.hoverMenu {
    overflow: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: -350px;
    transition: 0.5s;
}

.hoverMenu h2 {
    font-size: 4em;
    color: #fff;
    font-family: "Lobster-Regular"
}

.hoverMenu h3{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
    font-family: "Open-Sans-Regular";
    font-size: 1.4em;
    text-align: center;
}

#showItemsFirstLine .col-md-6{
    padding: 0;
    margin: 0;
    height: 400px;
}

.leftTopImageDiv {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url("../images/Menu1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.leftTopImageDiv:hover .hoverMenu {
    overflow: visible;
    opacity: 1;
    background-color: rgba(0,0,0,.5);
    margin-left: 0px;
    transition: 0.5s;
}

.rightTopImageDiv {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url("../images/Menu2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.rightTopImageDiv:hover .hoverMenu {
    overflow: visible;
    opacity: 1;
    background-color: rgba(0,0,0,.5);
    margin-left: 0px;
    transition: 0.5s;
}

#showItemsSecondLine .col-md-6{
    padding: 0;
    margin: 0;
    height: 400px;
}

.rightBottomImageDiv {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url("../images/Menu3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.rightBottomImageDiv:hover .hoverMenu {
    overflow: visible;
    opacity: 1;
    background-color: rgba(0,0,0,.5);
    margin-left: 0px;
    transition: 0.5s;
}

.leftBottomImageDiv {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url("../images/Menu4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.leftBottomImageDiv:hover .hoverMenu {
    overflow: visible;
    opacity: 1;
    background-color: rgba(0,0,0,.5);
    margin-left: 0px;
    transition: 0.5s;
}

#landing .contact .row {
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-bottom: 20px;
}

#landing .contact .col-md-6 {
    padding: 0;
    margin: 0;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    overflow: hidden;
}

.alignItemsContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alignItemsContact h2:nth-child(2) {
    margin-left: 105px;
    margin-top: -30px;
}

.titleContact {
    text-transform: uppercase;
    color: #EC1A23;
    font-family: "Open-Sans-Bold";
    font-size: 4em;
}

.infoContact {
    font-family: "Open-Sans-Bold";
    font-size: 1.4em;
}

.infoDetail {
    font-family: "Open-Sans-Regular";
    font-size: 1.4em;
    line-height: 1.0;
}

.footer {
    border-top: 5px solid #EC1A23;
    height: 120px;
    justify-content: center;
    margin: 0;
} 

#footerPage .col-md-5 {
    width:  fit-content;
    padding: 0;
    object-fit: none;
}
